* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0;
}

.btn-1 {
  background: transparent;
  display: flex;
  font-size: 13.5px;
  color: #fff;
  margin: 6px;
  box-shadow: 0 0 0 3em #b61984 inset;
  padding: 1.1em 1.5em;
  border-radius: 50px;
  transition: all 300ms ease;
}

.btn-1:hover {
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
}

.btn-2 {
  background: transparent;
  display: flex;
  font-size: 13.5px;
  color: black;
  margin: 6px;
  box-shadow: 0 0 0 3em white inset;
  padding: 1.1em 1.5em;
  border-radius: 50px;
  transition: all 300ms ease;
}

.btn-2:hover {
  color: white;
  box-shadow: 0 0 0 1px #b61984 inset;
  border: 1px solid #e5e5e5;
}

.input-primary {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.input-primary svg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #b61984;
}
.input-primary input {
  box-sizing: border-box;
  width: 100%;
  height: 3.7em;
  padding: 12px 12px 12px 42px;
  border-radius: 50px;
  border: 1px solid #e5e5e5;
  display: inline;
}
.input-primary input:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.input-primary input:focus-visible {
  outline: none;
}

.custom-select {
  position: relative;
  width: 100%;
}
.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
  line-height: 3.2em;
  font-size: 13px;
  padding-left: 36px;
  border: 1px solid #e5e5e5;
  border-radius: 50px;
  cursor: pointer;
}
.select-selected::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #b61984 transparent transparent transparent;
}
.select-selected .select-arrow-active::after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #e5e5e5;
}
.select-items div {
  line-height: 1.8em;
  font-size: 13px;
  padding-left: 36px;
  border: 1px solid transparent;
  cursor: pointer;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: none;
  color: #b61984;
  transition: all 0.5s;
}

.header {
  position: absolute;
  width: 100%;
}
.header .container {
  position: relative;
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .mini-nav {
  display: none;
}
.header .container .icon a img {
  height: 80px;
  background: transparent;
}
.header .container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .navbar .nav-menu a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 80px;
  margin-right: 50px;
  position: relative;
}
.header .container .navbar .nav-menu a::after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 5;
  margin-left: -4px;
  bottom: -35px;
  left: 50%;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  transition: 300ms ease all;
  transform: scale(0);
}
.header .container .navbar .nav-menu .focus::after {
  transform: scale(1.1);
}
.header .container .navbar .nav-menu a:hover::after {
  transform: scale(1.5);
}
.header .container .navbar .nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .navbar .nav-contact .btn-1 svg {
  padding-right: 0.5em;
}
.header .container .navbar .nav-contact .nav-contact-icon a {
  outline: none;
  font-size: 0.8em;
  text-decoration: none;
}
.header .container .navbar .nav-contact .nav-contact-icon a svg {
  color: black;
  margin-left: 0.9em;
  line-height: 38px;
}
.header .container .navbar .nav-contact .nav-contact-icon a svg:hover {
  color: #b61984;
}
@media screen and (max-width: 768px) {
  .header .container .navbar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .container {
    justify-content: flex-start;
  }
  .header .container .mini-nav {
    display: block;
  }
  .header .container .mini-nav svg {
    font-size: 30px;
    padding-right: 15px;
  }
  .header .container .icon a img {
    width: 48px;
    height: auto;
  }
}

.about {
  position: relative;
  padding: 60px 0 0 0;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about .container .about-left {
  width: 50%;
}
.about .container .about-left h1 {
  color: #b61984;
  font-size: 16.5px;
  margin-bottom: 0.5em;
}
.about .container .about-left h2 {
  font-size: 57px;
}
@media screen and (max-width: 768px) {
  .about .container .about-left {
    width: 100%;
  }
  .about .container .about-left h2 {
    font-size: 47.25px;
  }
}
.about .container .about-right {
  width: 50%;
}
.about .container .about-right img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .about .container .about-right {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .about .container {
    padding-top: 56px;
    margin: 0 30px;
  }
}
.about .top-about-background {
  position: absolute;
  top: 0;
  z-index: -1;
}
.about .top-about-background img {
  width: 100%;
  height: auto;
  display: block;
}
.about .bottom-about-background {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.about .bottom-about-background img {
  width: 100%;
  height: auto;
  display: block;
}

.item-list {
  padding-top: 30px;
  background: #dcd1f3;
}
.item-list .background-1 {
  position: relative;
}
.item-list .background-1 .container {
  position: relative;
  z-index: 2;
  max-width: 1240px;
}
.item-list .background-1 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.item-list .background-1 .container .row .div-height {
  width: 100%;
  height: 40px;
}
.item-list .background-1 .container .row .col {
  width: 25%;
  padding: 0 20px;
}
.item-list .background-1 .container .row .col .item {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
}
.item-list .background-1 .container .row .col .item .item-img img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  transition: all 0.5s;
}
.item-list .background-1 .container .row .col .item .item-content {
  padding: 0 30px;
  text-align: center;
}
.item-list .background-1 .container .row .col .item .item-content span {
  color: #b61984;
  font-size: 11.25px;
  margin-bottom: 7.875px;
}
.item-list .background-1 .container .row .col .item .item-content h3 {
  font-size: 23.25px;
  margin-bottom: 15px;
}
.item-list .background-1 .container .row .col .item .item-content p {
  line-height: 1.8em;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 35px;
  color: black;
}
.item-list .background-1 .container .row .col .item:hover {
  box-shadow: 5px 4px 20px 5px rgba(0, 0, 0, 0.36);
  transition: all 0.5s;
}
.item-list .background-1 .container .row .col .item:hover .item-img img {
  transform: scale(1.05);
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .item-list .background-1 .container .row .col {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .item-list .background-1 .container .row .col {
    width: 100%;
  }
}
.item-list .background-1 .background-2 {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.item-list .background-1 .background-2 img {
  width: 100%;
  display: block;
}

.course {
  position: relative;
  padding-top: 60px;
  z-index: 4;
}
.course .container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.course .container .left-course {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  max-width: 58.3333%;
}
.course .container .left-course img {
  width: 527px;
  display: block;
}
@media screen and (max-width: 768px) {
  .course .container .left-course {
    max-width: 100%;
  }
  .course .container .left-course img {
    max-width: 100%;
  }
}
.course .container .right-course {
  padding-bottom: 25px;
  max-width: 41.6666%;
}
.course .container .right-course .form {
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}
.course .container .right-course .form .form-container {
  box-shadow: 5px 4px 20px 3px rgba(0, 0, 0, 0.24);
  background-color: white;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
}
.course .container .right-course .form .form-container .div-1 {
  height: 40px;
}
.course .container .right-course .form .form-container h2 {
  text-align: center;
  font-size: 37.5px;
  font-weight: 700;
}
.course .container .right-course .form .form-container .div-2 {
  height: 50px;
}
.course .container .right-course .form .form-container .form-detail {
  padding-bottom: 40px;
}
.course .container .right-course .form .form-container .form-detail .form-row {
  display: flex;
  padding-bottom: 15px;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactInput {
  margin-right: 15px;
  width: 50%;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactInput span {
  display: block;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactOption {
  position: relative;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactOption svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #b61984;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactMessage {
  position: relative;
  width: 100%;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactMessage textarea {
  border: 1px solid #e5e5e5;
  padding: 12px 12px 12px 42px;
  border-radius: 20px;
  width: 100%;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactMessage textarea:focus-visible {
  outline: none;
}
.course .container .right-course .form .form-container .form-detail .form-row .contactMessage svg {
  position: absolute;
  color: #b61984;
  top: 12px;
  left: 15px;
}
.course .container .right-course .form .form-container .form-detail .btn-1 {
  display: block;
  margin-top: 30px;
  max-width: 150px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .course .container .right-course {
    max-width: 100%;
  }
  .course .container .right-course .form {
    width: 100%;
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
  }
  .course .container .right-course .form .form-container h2 {
    text-align: left;
  }
  .course .container .right-course .form .form-container .form-detail .form-row {
    display: block;
    padding-bottom: 0;
  }
  .course .container .right-course .form .form-container .form-detail .form-row .contactInput {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .course .container .right-course .form .form-container .form-detail .form-row .contactInput .input-primary {
    margin-bottom: 15px;
  }
  .course .container .right-course .form .form-container .form-detail .form-row .contactOption {
    margin-bottom: 15px;
  }
  .course .container .right-course .form .form-container .form-detail .btn-1 {
    max-width: 100%;
  }
}
.course .course-bottom-bg {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.course .course-bottom-bg img {
  width: 100%;
  display: block;
}

.footer {
  position: relative;
  padding-top: 150px;
  padding-bottom: 120px;
  background-color: #aa017e;
}
.footer .container {
  max-width: 12800px;
  position: relative;
  z-index: 2;
}
.footer .container .row {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .container .row .col {
  width: 25%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  height: 100%;
}
.footer .container .row .col .item .item-header {
  margin-bottom: 30px;
}
.footer .container .row .col .item .item-content span {
  display: inline-block;
  font-size: 13.5px;
  padding-left: 10.8px;
  margin-bottom: 15px;
}
.footer .container .row .col .item .item-content p {
  cursor: pointer;
  font-size: 13.5px;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1;
  padding: 0.8em 0;
  display: block;
}
.footer .container .row .col .item .item-content .btn-1 {
  height: 48px;
  margin: 0;
  margin-bottom: 7.5px;
  margin-top: 45px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer .container .row .col .item .item-content .btn-1 h2 {
  font-size: 13.5px;
  display: block;
  text-align: center;
}
.footer .container .row .col .item .item-content .btn-1:hover {
  color: white;
}
.footer .container .row .col .item .item-content .btn-2 {
  height: 48px;
  margin: 0;
  margin-bottom: 7.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer .container .row .col .item .item-content .btn-2 h2 {
  font-size: 13.5px;
  display: block;
  text-align: center;
}
.footer .container .row .col .item .icons {
  display: flex;
}
.footer .container .row .col .item .icons svg {
  padding-right: 15px;
  transition: all 0.5s;
}
.footer .container .row .col .item .icons svg:hover {
  color: black;
  transition: all 0.5s;
}
@media screen and (max-width: 768px) {
  .footer .container .row .col {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .footer .container .row .col {
    width: 100%;
  }
}
.footer .footer-bottom-bg {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.footer .footer-bottom-bg img {
  width: 100%;
  display: block;
}